* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.innercon{
  padding: 40px;
}
.custom-footer{
  padding: 40px;
  padding-left: 30%;
  padding-right: 30%;
}

.content{
  padding-left: 30%;
  padding-right: 30%;
}

h2{
  padding-left: 40%;
}